.DS_Store

ext/*
!ext/CMakeLists.txt

*.vscode*
.vs/*
Debug/*
x64/Debug/*
.idea/*
cmake-build-debug/*
build/*
binary/*

*.pyc

*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch


*.mod
*.smod

*.lai
*.la

*.exe
*.out
*.app
